<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 서비스 라이브러리 프로젝트를 배포할 때 호스트의 app.config 파일에 구성 파일의 내용을 추가해야 합니다. 
  System.Configuration이 라이브러리에 대한 구성 파일을 지원하지 않습니다. -->
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary1.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- 정규화되어 있지 않은 경우 주소는 위에 제공된 기본 주소에 대해 상대적입니다. -->
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary1.IService1">
          <!-- 
              배포 시 다음 identity 요소는 제거되거나 배포된 서비스를 실행할 때 사용하는 ID를 
              반영하도록 대체되어야 합니다. 해당 요소가 제거되면 WCF에서는 적합한 ID를 
              자동으로 유추합니다.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- 클라이언트가 이해하기 쉽도록 메타데이터 교환 엔드포인트가 서비스에서 사용됩니다. --> 
        <!-- 이 엔드포인트는 보안이 설정된 바인딩을 사용하지 않으므로 배포하기 전에 보안을 설정하거나 제거해야 합니다. -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 메타데이터 정보를 공개하지 않으려면 
          배포하기 전에 아래 값을 false로 설정하십시오. -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- 디버깅 목적으로 오류에서 예외 정보를 받으려면 
          아래의 값을 true로 설정하십시오. 예외 정보를 공개하지 않으려면 
         배포하기 전에 false로 설정하십시오. -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
